{
  "presets": [
    "@babel/preset-env",
    "@babel/react",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components"
  ]
}