.container {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 2rem;
	color: #aeb4bb;
	margin-bottom: 20px;
}

.skillBadge {
	background-color: #e3eaf0;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 9px 12px;
	display: inline-flex;
	align-items: flex-start;
	margin-right: 15px;
	margin-bottom: 15px;
	border-radius: 3px;
	line-height: 1;
	cursor: pointer;
}