@import "./helpers/mixins";

@include font-face(ProximaNova, Bold, '../../fonts/ProximaNova', 700, bold);
@include font-face(ProximaNova, Regular, '../../fonts/ProximaNova', 400, normal);
@include font-face(ProximaNova, SemiBold, '../../fonts/ProximaNova', 600, normal);

html {
	height: 100%;
	font-size: 62.5%;
	font-family: 'ProximaNova', sans-serif;
}